In [3]:
import geopandas

In [4]:
gdf = geopandas.read_file("../resourses/example_dataset.geojson")

In [9]:
print(f'Crs: {gdf.crs}\n' + f'Кількість записів: {gdf.size}', end = '\n')

Crs: EPSG:4326
Кількість записів: 8000

In [16]:
gdf.head(10)

,crop_name,sowing_date,actual_yield,field_id,avg_temperature,avg_rainfall,model_yield,geometry
0,maiz,2016-04-10,7600.0,MS_VN_03_407,11.547103,572.463009,8903.0,"MULTIPOLYGON (((28.16611 49.21513, 28.16624 49..."
1,maiz,2016-04-11,7900.0,MS_VN_03_405,11.547103,574.831401,8814.0,"MULTIPOLYGON (((28.16966 49.19427, 28.16936 49..."
2,maiz,2016-04-12,7900.0,PA_KM_05_1802,12.190627,637.703767,8317.0,"MULTIPOLYGON (((27.30659 48.87534, 27.30674 48..."
3,maiz,2016-04-12,9000.0,MS_VN_03_410,11.756031,588.947718,8878.0,"MULTIPOLYGON (((28.11488 49.21303, 28.11503 49..."
4,maiz,2016-04-12,12100.0,KI_VN_10_0308,11.584644,595.795305,8996.0,"MULTIPOLYGON (((28.86633 49.22147, 28.86651 49..."
5,maiz,2016-04-13,7000.0,PA_KM_05_1803,12.190627,640.868072,8184.0,"MULTIPOLYGON (((27.28864 48.87534, 27.28873 48..."
6,maiz,2016-04-13,6400.0,PA_KM_05_1801,12.190627,640.868072,8184.0,"MULTIPOLYGON (((27.29514 48.87655, 27.29317 48..."
7,maiz,2016-04-13,7300.0,MS_VN_03_409,11.756031,597.970930,8965.0,"MULTIPOLYGON (((28.12418 49.21158, 28.12390 49..."
8,maiz,2016-04-13,11700.0,KI_VN_10_0302,11.584644,598.156220,8875.0,"MULTIPOLYGON (((28.90721 49.23975, 28.90723 49..."
9,maiz,2016-04-14,7100.0,PA_KM_05_1804,12.190627,646.445618,8211.0,"MULTIPOLYGON (((27.28238 48.87403, 27.28251 48..."

In [58]:
crop_names_list = gdf['crop_name'].tolist()

for crop_type in list(dict.fromkeys(crop_names_list)):
    print(f'Кількість культури {crop_type}: {crop_names_list.count(crop_type)}')

Кількість культури maiz: 785
Кількість культури soy: 209
Кількість культури sun: 6

In [59]:
actual_list = gdf['actual_yield'].tolist()
to_display = ['crop_name', 'actual_yield', 'field_id']

min_index = actual_list.index(min(actual_list))
max_index = actual_list.index(max(actual_list))
min_info = gdf.iloc[min_actual_index][to_display].to_string()
max_info = gdf.iloc[max_actual_index][to_display].to_string()

print('Мінімальна врожайність: \n' + f'{min_info}\n', end = '\n')
print('Максимальна врожайність: \n' + f'{max_info}', end = '\n')

Мінімальна врожайність:
crop_name                soy
actual_yield           900.0
field_id        MS_VN_02_502

Максимальна врожайність:
crop_name               maiz
actual_yield         14500.0
field_id        MS_VN_03_205