In [1]:
import geopandas

gdf = geopandas.read_file("../resourses/example_dataset.geojson")

In [2]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [3]:
gdf.size

8000

In [4]:
gdf.columns.to_list()

['crop_name',
 'sowing_date',
 'actual_yield',
 'field_id',
 'avg_temperature',
 'avg_rainfall',
 'model_yield',
 'geometry']

In [5]:
gdf.head(10)

,crop_name,sowing_date,actual_yield,field_id,avg_temperature,avg_rainfall,model_yield,geometry
0,maiz,2016-04-10,7600.0,MS_VN_03_407,11.547103,572.463009,8903.0,"MULTIPOLYGON (((28.16611 49.21513, 28.16624 49..."
1,maiz,2016-04-11,7900.0,MS_VN_03_405,11.547103,574.831401,8814.0,"MULTIPOLYGON (((28.16966 49.19427, 28.16936 49..."
2,maiz,2016-04-12,7900.0,PA_KM_05_1802,12.190627,637.703767,8317.0,"MULTIPOLYGON (((27.30659 48.87534, 27.30674 48..."
3,maiz,2016-04-12,9000.0,MS_VN_03_410,11.756031,588.947718,8878.0,"MULTIPOLYGON (((28.11488 49.21303, 28.11503 49..."
4,maiz,2016-04-12,12100.0,KI_VN_10_0308,11.584644,595.795305,8996.0,"MULTIPOLYGON (((28.86633 49.22147, 28.86651 49..."
5,maiz,2016-04-13,7000.0,PA_KM_05_1803,12.190627,640.868072,8184.0,"MULTIPOLYGON (((27.28864 48.87534, 27.28873 48..."
6,maiz,2016-04-13,6400.0,PA_KM_05_1801,12.190627,640.868072,8184.0,"MULTIPOLYGON (((27.29514 48.87655, 27.29317 48..."
7,maiz,2016-04-13,7300.0,MS_VN_03_409,11.756031,597.970930,8965.0,"MULTIPOLYGON (((28.12418 49.21158, 28.12390 49..."
8,maiz,2016-04-13,11700.0,KI_VN_10_0302,11.584644,598.156220,8875.0,"MULTIPOLYGON (((28.90721 49.23975, 28.90723 49..."
9,maiz,2016-04-14,7100.0,PA_KM_05_1804,12.190627,646.445618,8211.0,"MULTIPOLYGON (((27.28238 48.87403, 27.28251 48..."

In [6]:
crop_name_list = gdf['crop_name'].tolist()
crop_name_type_list = list(dict.fromkeys(crop_name_list))
print(f'Культури: {crop_name_type_list}, їх кількість: {len(crop_name_type_list)}')

first_crop_count = crop_name_list.count(crop_name_type_list[0])
print(f'Кількість культури {crop_name_type_list[0]}: {first_crop_count}')

second_crop_count = crop_name_list.count(crop_name_type_list[1])
print(f'Кількість культури {crop_name_type_list[1]}: {second_crop_count}')

third_crop_count = crop_name_list.count(crop_name_type_list[2])
print(f'Кількість культури {crop_name_type_list[2]}: {third_crop_count}')

Культури: ['maiz', 'soy', 'sun'], їх кількість: 3
Кількість культури maiz: 785
Кількість культури soy: 209
Кількість культури sun: 6

In [7]:
actual_yield_list = gdf['actual_yield'].tolist()
field_id_list = gdf['field_id'].tolist()

max_actual_yield = max(actual_yield_list)
max_actual_yield_index = actual_yield_list.index(max_actual_yield)
max_actual_yield_crop_name = crop_name_list[max_actual_yield_index]
max_actual_yield_field_id = field_id_list[max_actual_yield_index]
print(f'Максимальна врожайність: {max_actual_yield}, його культьра {max_actual_yield_crop_name} та поле {max_actual_yield_field_id}')

min_actual_yield = min(actual_yield_list)
min_actual_yield_index = actual_yield_list.index(min_actual_yield)
min_actual_yield_crop_name = crop_name_list[min_actual_yield_index]
min_actual_yield_field_id = field_id_list[min_actual_yield_index]
print(f'Мінімальна врожайність: {min_actual_yield}, його культьра {min_actual_yield_crop_name} та поле {min_actual_yield_field_id}')

Максимальна врожайність: 14500.0, його культьра maiz та поле MS_VN_03_205
Мінімальна врожайність: 900.0, його культьра soy та поле MS_VN_02_502